body{
    background-color: rgb(116, 220, 255);
}

body:hover{
    background-color: rgb(194, 240, 255);

}
.circle{

position: absolute;
width: 120px;
height: 110px;
left: 550px;
top: 80px;

background: #B3CDD3;
border-style: solid;
border-color: gray;
border-width: 15px;
border-radius: 100%;
}

.linea-horizontal{
    margin-top: 0;
    border-style: solid;
    border-color: #2B9AB3;
    border-width: 20px;
    
    
    }

.segunda-linea-horizontal{
        margin-top: 13.2rem;
        border-style: solid;
        border-color: #2B9AB3;
        border-width: 40px;
        
        
        }

.formulario{
    padding-top: 10rem;
    padding-left: 29rem;
    font-size:1.5rem;
}
        